#gwc-chatAvailable {
    z-index: 1000;
    right: 1.5%;
    position: fixed;
    margin-bottom: 20px;
    bottom: 0px;
    color: #ffffff;
    width: 80px;
    height: 80px;
    overflow: hidden;
    text-indent: -9999em;
    background-color: transparent;
    background-image: url(https://cdn11.bigcommerce.com/s-qocbjhchet/product_images/uploaded_images/chat-icon-kleeneze.png);
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0 0 6px rgb(0,0,0,0.5);
}

#gwc-chatBusy {
    z-index: 1000;
    right: 1.5%;
    position: fixed;
    margin-bottom: 20px;
    bottom: 0px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    text-indent: -9999em;
    background-color: transparent;
    background-image: url(https://cdn11.bigcommerce.com/s-qocbjhchet/product_images/uploaded_images/chat-icon-kleeneze.png);
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0 0 6px rgb(0,0,0,0.5);
}

#gwc-chatOffline {
    z-index: 1000;
    right: 1.5%;
    position: fixed;
    margin-bottom: 20px;
    bottom: 0px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    text-indent: -9999em;
    background-color: transparent;
    background-image: url(https://cdn11.bigcommerce.com/s-qocbjhchet/product_images/uploaded_images/chat-icon-kleeneze.png);
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0 0 6px rgb(0,0,0,0.5);
}

.gnatta-inline-webchat-host-fullscreen {
    overflow-y: hidden;
    position: fixed;
    width:100%;
}

.gnatta-webchat-hidden {
    display: none;
}

.gnatta-inline-webchat {
    max-width: 400px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    position: fixed;
	bottom: 0px;
	right: 0px;
    overflow: hidden;
    visibility: visible;
    z-index: 99999;
    border: 0;
    box-shadow:0 1px 10px rgba(0, 0, 0, 0.6);
}

.gnatta-inline-webchat iframe {
    width: 100%;
    height: 100%;
	border: none;
    box-shadow:0 24px 0;
}

.gnatta-inline-webchat-collapse {
    max-width: 400px;
	max-height: 42px;
    position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 9999;
    overflow:hidden;
}

.gnatta-inline-webchat.fullscreen {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0;
    padding: 0;
    margin: 0;
    float: none;
	z-index: 9999;
	border: none;
}

.gwc-inlinechat-toolbar {
    margin: 0;
    background-color: #AE1857;
    width: 100%;
    color: #fff;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

img.heroCarousel-image {
    max-height: none!important;
    position: relative!important;
    object-fit: cover!important;
    min-height: auto!important;
}

.heroCarousel-image-wrapper {
    max-height: none!important;
    position: relative!important;
}

a.slick-slide {
    min-height: auto!important;
}

.heroCarousel .slick-dots {
    bottom: 1vw!important;
}
